NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/shoeculture
JWT_SECRET=ef0a2e72bc7925187fa0c1d2419af43b9315f3faf48d7e69e83f9e14edb7c11f88f7f6a95ff9f87a5ad53df577b4c465
JWT_EXPIRES_IN=2h
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
